# Environment 
venv/
# OpenFOAM generated results and logs 
cavity/logs/
cavity/processor*/
cavity/log.*
cavity/constant/polyMesh/
cavity/[1-9]*/
cavity/0.*/
cavity/simulation_done.txt
# Timesteps numpy tensor
*.npy
# Snakemake 
.snakemake/
efficiency_report_*.csv
# Python
__pycache__/